.doctorDetails {
  margin: 2em auto;

  figure {
    border-radius: 20px;
    height: 80vh;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: top center;
    }
  }

  .greyBg {
    background: var(--Grey5);
    width: 100%;

    p {
      font-weight: 600;
      padding: 0.5em 1em;
      font-size: 0.9rem;
    }
  }

  .whiteBg {
    background: var(--white);
    width: 100%;

    p {
      font-weight: 600;
      padding: 0.7em 1em;
      font-size: 0.9rem;
    }
  }
}
